$colorBackgroudWhite: #ffffff;
$colorTextWhite: #ffffff;
$colorTextWhiteSub: rgba(255, 255, 255, 0.7);
$colorBackground2: #e5e5e5;
$colorBackground3: #f0f2f5;
$colorBlackText: #000000;
$colorBlackSub: rgba(0, 0, 0, 0.4);
$colorBlackSub2: rgba(0, 0, 0, 0.7);
$colorMenuHover: #f7f8fc;
$colorPrimary1: #141ed2;
$colorDanger: #eb2d4b;
$colorBorder: rgba(0, 0, 0, 0.05);
$colorPending: #141ed2;
$colorProcessing: #00b335;
$colorPostpone: #d25814;
$colorAssign: #e7a700;
$colorCancel: #eb2d4b;
$colorComplete: #e7a700;
$colorScrollbarTrack: #f1f1f1;
$colorScrollbarThumb: #a1a1a1;
$colorScrollbarThumbHover: #5f5f5f;
