<div class="app-cavet-view page">
  <div class="page-header">
    <div
      (click)="directToBoard()"
      style="margin-right: 10px"
      nz-icon
      nzType="arrow-left"
      nzTheme="outline"
      class="default-button"
    ></div>
    <div class="case-code">
      {{ currentCase.code }}
    </div>
    <app-status-tag status="{{ currentCase.status }}"></app-status-tag>
  </div>
  <div class="page-container">
    <div class="page-content">
      <div class="link border-bottom">
        <nz-button-group id="session-button">
          <button
            nz-button
            nzType="text"
            [ngClass]="{ sectionButton: true, selected: section === 'chung' }"
            (click)="goSection('chung')"
          >
            Chung
          </button>
          <button
            nz-button
            nzType="text"
            (click)="goSection('TS')"
            [ngClass]="{ sectionButton: true, selected: section === 'TS' }"
          >
            Tài sản
          </button>
          <button
            nz-button
            nzType="text"
            (click)="goSection('NV')"
            [ngClass]="{ sectionButton: true, selected: section === 'NV' }"
          >
            Nhân viên
          </button>
          <button
            nz-button
            nzType="text"
            (click)="goSection('CN')"
            [ngClass]="{ sectionButton: true, selected: section === 'CN' }"
          >
            Chi nhánh
          </button>
          <button
            nz-button
            nzType="text"
            (click)="goSection('VPCC')"
            [ngClass]="{ sectionButton: true, selected: section === 'VPCC' }"
          >
            Địa điểm lấy cà vẹt
          </button>
          <button
            nz-button
            nzType="text"
            (click)="goSection('KH')"
            [ngClass]="{ sectionButton: true, selected: section === 'KH' }"
          >
            Khách hàng
          </button>
        </nz-button-group>
      </div>

      <!-- Chung -->
      <div id="chung" class="section">
        <strong>Chung</strong>

        <div nz-row style="margin-top: 20px">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <div class="section-left">
              <app-info-item
                key="Mã phương án"
                value="{{ currentCase.code }}"
              ></app-info-item>
              <app-info-item
                key="Mã chi nhánh"
                value="{{ currentCase.branchCode }}"
              ></app-info-item>
              <app-info-item
                key="Mã khách hàng"
                value="{{ currentCase.customerCode }}"
              ></app-info-item>
              <app-info-item
                key="Tên RM"
                value="{{ currentCase.rmName }}"
              ></app-info-item>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <app-info-item
              key="Số điện thoại RM"
              value="{{ currentCase.rmPhone }}"
            ></app-info-item>
            <app-info-item
              key="Thời gian dự kiến thực hiện"
              value="{{
                currentCase.timeVehicleRegistration | date : 'HH:mm dd/MM/yyyy'
              }}"
            ></app-info-item>
            <app-info-item
              key="Điểm thực hiện dự kiến"
              value="{{ currentCase.locationVehicleRegistration }}"
            ></app-info-item>
          </div>
        </div>

        <!-- Case công chứng -->
      </div>

      <!-- Tài sản -->
      <div id="TS" class="section">
        <strong>Tài sản</strong>
        <ng-container *ngFor="let asset of currentCase.assets; index as i">
          <div>
            <div class="asset-header">Tài sản {{ i + 1 }}</div>
            <div nz-row style="margin-top: 20px">
              <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
                <div class="section-left">
                  <app-info-item
                    key="Mã hợp đồng thế chấp"
                    value="{{ asset.id }}"
                  ></app-info-item>
                  <app-info-item
                    key="Mã tài sản"
                    value="{{ asset.typeId }}"
                  ></app-info-item>
                  <app-info-item
                    key="Loại tài sản"
                    value="{{ asset.typeName }}"
                  ></app-info-item>
                  <app-info-item
                    key="Tên tài sản"
                    value="{{ asset.name }}"
                  ></app-info-item>
                </div>
              </div>

              <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
                <app-info-item
                  key="Chủ sở hữu"
                  value="{{ asset.assetOwner }}"
                ></app-info-item>
                <app-info-item
                  key="SĐT chủ sở hữu"
                  value="{{ asset.assetOwnerPhone }}"
                ></app-info-item>
                <div nz-row>
                  <div nz-col nzSpan="12" style="color: rgba(0, 0, 0, 0.4)">
                    Tác dụng phụ
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-checkbox
                      id="my-checkbox"
                      nzDisabled
                      (ngModelChange)="(false)"
                      style="color: rgba(0, 0, 0, 0.7)"
                      nz-checkbox
                      [(ngModel)]="asset.onSecureTransaction"
                    >
                      ĐKGDBĐ</nz-checkbox
                    >
                    <br />
                    <label
                      style="color: rgba(0, 0, 0, 0.7)"
                      nz-checkbox
                      nzDisabled
                      [ngModel]="asset.onSecureTransactionOnline"
                      >ĐKGDBĐ Online</label
                    >
                    <br />
                    <label
                      style="color: rgba(0, 0, 0, 0.7)"
                      nz-checkbox
                      nzDisabled
                      [ngModel]="asset.onDeleteMortgage"
                      >Xóa chấp</label
                    >
                    <br />
                    <label
                      style="color: rgba(0, 0, 0, 0.7)"
                      nz-checkbox
                      nzDisabled
                      [ngModel]="asset.onUpdateInfo"
                      >Cập nhật thông tin</label
                    >
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Nhân viên  -->
      <div id="NV" class="section">
        <strong>Nhân viên</strong>
        <div nz-row style="margin-top: 20px">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <div class="section-left">
              <app-info-item
                key="Tên nhân viên"
                value="{{ staff.fullname }}"
              ></app-info-item>
              <app-info-item
                key="Mã nhân viên"
                value="{{ currentCase.currentUserId }}"
              ></app-info-item>
              <app-info-item
                key="Chức danh"
                value="{{ staff.jobTitle }}"
              ></app-info-item>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <app-info-item
              key="Email nhân viên"
              value="{{ staff.email }}"
            ></app-info-item>
            <app-info-item
              key="Số điện thoại"
              value="{{ staff.phoneNumber }}"
            ></app-info-item>
          </div>
        </div>
      </div>

      <!-- Chi nhánh  -->
      <div id="CN" class="section">
        <strong>Chi nhánh</strong>
        <div nz-row style="margin-top: 20px">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <div class="section-left">
              <app-info-item
                key="Mã chi nhánh"
                value="{{ currentCase.branchCode }}"
              ></app-info-item>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <app-info-item
              key="Tên chi nhánh"
              value="{{ currentCase.branchName }}"
            ></app-info-item>
          </div>
        </div>
      </div>

      <!-- VPCC -->
      <div id="VPCC" class="section">
        <strong>Địa điểm lấy cà vẹt</strong>
        <div nz-row nzJustify="start" style="margin-top: 20px">
          <div
            style="height: max-content"
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="11"
          >
            <div class="section-left">
              <app-info-item
                key="Địa điểm thực hiện"
                value="{{ currentCase.locationVehicleRegistration }}"
              ></app-info-item>
            </div>
          </div>
        </div>
      </div>

      <!-- KH -->
      <div id="KH" class="section">
        <strong>Khách hàng</strong>
        <div nz-row style="margin-top: 20px">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <div class="section-left">
              <app-info-item
                key="Tên khách hàng"
                value="{{ currentCase.customerName }}"
              ></app-info-item>
              <app-info-item
                key="Mã khách hàng"
                value="{{ currentCase.customerCode }}"
              ></app-info-item>
              <app-info-item
                key="Loại khách hàng"
                *ngIf="currentCase.customerType == 0"
                value="Cá nhân"
              ></app-info-item>
              <app-info-item
                key="Loại khách hàng"
                *ngIf="currentCase.customerType == 1"
                value="Doanh nghiệp"
              ></app-info-item>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="11">
            <app-info-item
              key="Email khách hàng"
              value="{{ currentCase.customerEmail }}"
            ></app-info-item>
            <app-info-item
              key="SĐT khách hàng"
              value="{{ currentCase.customerPhone }}"
            ></app-info-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
